body{
	margin: auto;
}
main{
	margin-bottom: 120px;
}

main h2{
	font-family: ;
	text-align: center;
}

.bloc{
	align-content: center;
	font-size: larger;

	box-shadow: 0px 0px 10px #e0d4d4;
	width: 900px;
	height: 1100px;

	margin: auto;
	margin-bottom: 30px;	
}

	.bloc > article{
	margin-left: 100px;
	margin-right: 100px;
	}

.ligne-verticale{
	width: 210px;
	margin-bottom: -238px;
}
.ligne-veticale--2{
	width: 210px;
	margin-top: -154px;
	margin-left: 500px;
}

/*---en tête---*/
header{
	background-color: #579c87;
	color:#fdcb46;
	font-family: sans-serif;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

header > a{
	text-decoration: none;
	color: #fdcb46;
}


/*---MENU 1-- La note enchantée --*/

.bloc.bloc__page1{
	background-color: #fcdfdb;
    font-family: 'Segoe Print', cursive;
}

.bloc.bloc__page1 > div > h2{
	font-family:'Devonshire', cursive;
}

h3 {
    position: relative;
    overflow: hidden;
    text-align: center;
}
h3:before, h3:after {
    position: absolute;
    top: 51%;
    overflow: hidden;

    margin-right: 50px;
    margin-left: 30px;
    background-image: url("icon/dessin.svg");
	background-position: 0px, 0px;
	background-repeat: repeat-x;
}
h3:before {
    margin-left: -54%;
    text-align: right;
}

h{

	background: url("icon/dessin.svg") fixed repeat-x top right;
}

 p > span{
 	display: flex;
 	flex-direction: row-reverse;
 	margin-top: -20px;
 }
i {
		margin-left: 50%;
		font-size: 2em;
		color: tomato;

		margin-top: 50px;
	}


/*---MENU 2-- Le délice des papilles --*/

.bloc.bloc__page2{
	background-color: #edefef;
	padding-top: 30px;
	font-family: 'Segoe Print', cursive;
}

.bloc.bloc__page2 > div > h2{
	font-family: 'Dancing Script', cursive;
	font-size: 2.5em;
	color: #3d1319;	
	background-image: linear-gradient(to right, #0431df, #3d9ffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*---MENU 3-- Le chic à la française --*/

.bloc.bloc__page3{
	background-color: #fff5fe;
	padding-top: 30px;
	font-family: 'bree serif', serif;
}
.bloc.bloc__page3 > h2{
	background-image: linear-gradient(to right, #df871e, #935df3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One', cursive;
    margin-top: 50px;
    margin-bottom: 70px;
}

.bloc__page3--entrée{
	color: #c67412;	
}
.bloc__page3--plat{
	color: #a56799;
	margin-top: 70px;
}
.bloc__page3--dessert{
	color: #6e4ccc;
	margin-top: 70px;
}

/*---MENU 4-- La palette du goût --*/

.bloc.bloc__page4{
	background-color: #fdfffd;
	padding-top: 30px;
	font-family: 'Segoe Print', serif;
}

.bloc.bloc__page4 > div > h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 2.5em;
	background-image: linear-gradient(to right, #3d9339, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--- Mentions légales ---*/
.mentions-légales{
	width: 60%;
	margin: auto;
	text-align: justify;
	font-size: larger;
}

/*---Footer---*/

footer{
	font-family: sans-serif;
	background-color: #579c87;
	color: #fdcb46;
	position: fixed;
	left: 0; right: 0; bottom: 0;
	height: 80px; 	
}

footer > div {
	display: flex;
	justify-content: space-around;
}

footer > div > a{
	text-decoration: none;
	color: #fdcb46;
}