/*---les variables coleurs---*/
$color-fond: #579c87;
$color-text: #fdcb46; 
$color-bk-menu1: #fcdfdb;
$color-bk-menu2: #f9f9f9;
$color-txt-menu2: #0431df;
$color-bk-menu3: #fff5fe;
$color-txt-menu3: #c67412;
$color-txt-menu3-plat: #a56799;
$color-txt-menu3-dessert: #6e4ccc;
$color-bk-menu4: #fdfffd;
$color-txt-menu4: #3d9339;
$background:url("icon/ligne-menu-.png") no-repeat;

/*---Les mixins---*/
@mixin flexMid {
    display: flex;
    justify-content: center;    
    align-content: center;
}

@mixin gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin ligne-verticale {
    content:"";
    display:inline-block;
    width:200px;
    height:15px;
    background-size:100%;
    align-self: center;
}

/*---Keyframs---*/
@keyframes trois-points {
    0% {
    width: 1em;    
    }
    50%{
        width:  1.25em ;
    }
    100%{
        width: 1.50em;
    }
}
/*Animation rubrique mentions légales et contact sous forme de 'wiggle'*/
@keyframes wiggle{
    0%{transform: rotate(0deg);}
    2%{transform: rotate(-2deg);}
    4%{transform: rotate(2deg);}
    5%{transform: rotate(0deg);}
    10%{transform: rotate(-2deg);}
    50%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}

/*Animation difilement 3 points*/
@keyframes point1 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(2px);
    }
}
@keyframes point2 {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(7px);
    }
    100% {
        transform: translateX(9px);
    }
}
@keyframes point3 {
    0% {
        transform: translateX(11px);
    }
    50% {
        transform: translateX(13px);
    }
    100% {
        transform: translateX(15px);
    }
}


/*---Site---*/

body {
    margin: auto;   
}

header {
    @include flexMid;
    
	background-color: $color-fond;
    color:$color-text;
    font-family: sans-serif;
    
     a {
        text-decoration: none;
        color: $color-text;
    }
}

/*---MAIN---*/

.main__accueil {
    @include flexMid;
    
     div { 
		margin-top: 3em;
	}
}
a {
    text-decoration: none;
    color: #3c1218;	
}

/*---corps de page---*/

.bloc-menu {
	@include flexMid;
	flex-direction: column-reverse;
	

	border-radius: 3px;
	box-shadow: 0px 0px 10px #e0d4d4;

	margin: 35px;
 	width: 430px;
 	height: 600px;   

 	font-size: larger;
     font-weight: normal;
     
     .bloc-menu--anim {
        @include flexMid; 
        flex-direction: column-reverse;
        align-items: center;
        opacity: 1;
    
        transition: transform 700ms ease-in-out;
        transform: scale(1);
    }
        .bloc-menu--anim:hover {
            transform: scale(1.15);
            opacity: 0.7;
        }

            h2{
                font-size: 2.5rem;
            }
}

/*---MENU 1-- La note enchantée --*/


.bloc-menu__1 {
	background-color: $color-bk-menu1;
    font-family: cursive;
    
	h3 {
		font-family:'Devonshire', cursive;
		font-weight: normal;
		font-size: 2em;
    }

    i {
        font-size: 2em;
        margin-top: -40px;
        color: tomato;
    }
}

/*---MENU 2-- Le délice des papilles --*/

.bloc-menu__2 {
	font-family: 'Kalam', cursive;
	background-color: $color-bk-menu2;	
	color: $color-txt-menu2 ;

	h3 {
		font-family: 'Dancing Script', cursive;
		font-size: 2em;

		background-image: linear-gradient(to right, #0431df, #3d9ffa);
	    @include gradient;
	}
}

/*---MENU 3-- Le chic à la française --*/

.bloc-menu__3 {
	background-color: $color-bk-menu3;
	font-family: serif , cursive;
    color: $color-txt-menu3;
    
     h3 {
		font-size: 2em;

		background-image: linear-gradient(to right, $color-txt-menu3, #935df3);
	    @include gradient;
    }
}

/*---MENU 4-- La palette du goût --*/

.bloc-menu__4 {
	background-color: $color-bk-menu4;
	font-family: 'Kalam', cursive;
    color: $color-txt-menu4;
    
	 h3{
		font-family: 'Kaushan Script', cursive;
		font-size: 2em;

		background-image: linear-gradient(to right, #3d9339, #bfff7e);
        @include gradient
    }
}

/*--- SECTION PAGE D'ACCUEIL ---*/

.section {
	background-color: #579c87;

	width: 250px;
	height: 45px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    
    font-family: 'inter', sans-serif;
    text-align: center;
    color: $color-text;

    .prochainement{
        padding: 10px;
    }
        
        .point1{
            position: absolute;
        	overflow: hidden;
	         display: inline-block;
            animation: point1 steps(1,end) 900ms infinite;
            
        }
        .point2{
            position: absolute;
        	overflow: hidden;
	         display: inline-block;
            animation: point2 steps(1,end) 900ms infinite;

        }
        .point3{
            position: absolute;
        	overflow: hidden;
            display: inline-block;
            animation: point3 steps(1,end) 900ms infinite;
            
        }
    }

/*---footer---*/

footer {
	font-family: 'inter', sans-serif;
	color: #fdcb46;
	background-color: #579c87;
	 
	position: fixed;
	left: 0; right: 0; bottom: 0px;
    height: 80px;

    div{
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
    }
        a{
            color: #fdcb46;
            text-decoration: none;
        }

}

.mentions:hover,.contact:hover{
    animation: wiggle 3s infinite;
    
}
	

/*-----les 4 pages -menus-----*/


.main{
    margin-bottom: 120px;
    
     h2{
         font-family: sans-serif;
        text-align: center;
    }
}
.bloc{
	align-content: center;
	font-size: larger;

	border-radius: 3px;
	box-shadow: 0px 0px 10px #e0d4d4;
	width: 900px;
	

	margin: auto;
    padding-bottom: 10px;

    span {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -20px;
    }

    article{
        margin-left: 80px;
        margin-right: 80px;
     }

    h3{
        @include flexMid;
		justify-content: space-between;
	}
}

/*--- PAGE MENU 1-- La note enchantée --*/

.bloc__page1{
	background-color: $color-bk-menu1;
    font-family: 'Segoe Print', cursive;

    h2{
        font-family:'Devonshire', cursive;
        margin-bottom: 3em;
    }

    .bloc__page1--h3{
        text-align: center;	 
    }

    .bloc__page1--h3:before, .bloc__page1--h3:after{
        background:url("icon/ligne-menu-1.png") no-repeat;
        @include ligne-verticale;    
    }

    .bloc__page1--h3--underline{  /* soulignement des titres*/
        text-decoration: none;
        background: linear-gradient(to top, black 5%, transparent 10%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
    }
        .bloc__page1--h3--underline:hover{
            background-size: 100% 100%;
        }
}

.bloc__page1--icon{
    display: flex;
    justify-content: center;

    i{
        margin-top: 20px;
        margin-right: 10px;
        font-size: 25px;
        color: tomato;
    }
}


section i {
       margin-left: 50%;
       font-size: 2em;
       color: tomato;

       margin-top: 50px;
}

/*---PAGE MENU 2-- Le délice des papilles --*/

.bloc.bloc__page2{
	background-color: #edefef;
	padding-top: 30px;
	font-family: 'Segoe Print', cursive;

    h2{
        font-family: 'Dancing Script', cursive;
        font-size: 2.5em;
        color: #3d1319;
        
        background-image: linear-gradient(to right, #0431df, #3d9ffa);
        @include gradient;

        margin-bottom: 2em;
    }

    .bloc__page2--h3:before, .bloc__page2--h3:after{
        background:url("icon/ligne-menu-2.png") no-repeat;
        @include ligne-verticale;
    }
    .bloc__page2--h3:after{
        transform: scaleX(-1);
    }

    .bloc__page2--h3--underline{  /* soulignement des titres*/
        text-decoration: none;
        background: linear-gradient(to top, $color-txt-menu2 5%, transparent 10%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
    }
        .bloc__page2--h3--underline:hover{
            background-size: 100% 100%;
        }
}




/*---PAGE MENU 3-- Le chic à la française --*/

.bloc__page3{
	background-color: #fff5fe;
	padding-top: 30px;
	font-family: 'bree serif', serif;

     h2{
        background-image: linear-gradient(to right, #df871e, #935df3);
        @include gradient;
        font-family: 'Croissant One', cursive;
        margin-bottom: 3em;
    }

    .bloc__page3--entree{
        color: $color-txt-menu3;	
    
    }
        .bloc__page3--entree--h3:before, .bloc__page3--entree--h3:after{
            background:url("icon/ligne-menu-3-1.png") no-repeat;
            @include ligne-verticale;
        }
        .bloc__page3--entree--h3:after{
            transform: scaleX(-1);
        }
    
        .bloc__page3--plat--h3:before, .bloc__page3--plat--h3:after{
             background:url("icon/ligne-menu-3-2.png") no-repeat;
             @include ligne-verticale;
        }
        .bloc__page3--plat--h3:after{
            transform: scaleX(-1);
        }

        .bloc__page3--dessert--h3:before, .bloc__page3--dessert--h3:after{
            background:url("icon/ligne-menu-3-3.png") no-repeat;
            @include ligne-verticale;
        }
        .bloc__page3--dessert--h3:after{
            transform: scaleX(-1);
        }

            .bloc__page3--h3--entree--underline{  /* soulignement des titres*/
                text-decoration: none;
                background: linear-gradient(to top, $color-txt-menu3 5%, transparent 10%) no-repeat left bottom / 0 100%;
                transition: background-size .5s;
            }
                .bloc__page3--h3--entree--underline:hover{
                        background-size: 100% 100%;
                    }
    
    
    .bloc__page3--plat{
        color: $color-txt-menu3-plat;
        margin-top: 70px;
    }
        .bloc__page3--h3--plat--underline{  /* soulignement des titres*/
            text-decoration: none;
            background: linear-gradient(to top, $color-txt-menu3-plat 5%, transparent 10%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
        }
            .bloc__page3--h3--plat--underline:hover{
                    background-size: 100% 100%;
                }

    .bloc__page3--dessert{
        color: $color-txt-menu3-dessert;
        margin-top: 70px;
    }
        .bloc__page3--h3--dessert--underline{  /* soulignement des titres*/
            text-decoration: none;
            background: linear-gradient(to top, $color-txt-menu3-dessert 5%, transparent 10%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
        }
            .bloc__page3--h3--dessert--underline:hover{
                    background-size: 100% 100%;
                }
}    
/*---PAGE MENU 4-- La palette du goût --*/

.bloc__page4{
	background-color: #fdfffd;
	padding-top: 30px;
    font-family: 'Segoe Print', serif;

    h2{
        font-family: 'Kaushan Script', cursive;
        font-size: 2.5em;
        margin-bottom: 2em;
        background-image: linear-gradient(to right, #3d9339, #bfff7e);
        @include gradient;
    }
    .bloc__page4--h3:before, .bloc__page4--h3:after{
        background:url("icon/ligne-menu-4.png") no-repeat;
        @include ligne-verticale;
    }
    .bloc__page4--h3:after{
        transform: scaleX(-1);        
    }

    .bloc__page4--h3--underline{  /* soulignement des titres*/
        text-decoration: none;
        background: linear-gradient(to top, $color-txt-menu4 5%, transparent 10%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
    }
        .bloc__page4--h3--underline:hover{
                background-size: 100% 100%;
            }
}

 /*--- Mentions légales ---*/
 .mentions-legales{
	width: 60%;
	margin: auto;
	text-align: justify;
    font-size: larger;
    margin-bottom: 130px;
    h2{
        font-size: 2rem;
    }
    span{
        font-style: italic;
        color: red;
    }
}


/*---RESPONSIVE DESIGN---*/

@media all and (max-width: 992px)
{
	body{
		width: auto;
    }
    .header_page{
        font-size: 4vw;
    }

	main{	
		width: auto;
    }
    
	.main__accueil{
		display: flex;
		flex-direction: column;
    }
    
	.main__accueil > div{
		margin-top: 0em;
	}

	.bloc-menu{
		width: 85vw;
		height: 110vw;
		text-align: center;
    }
    .bloc{
        width: 85vw;
        article{
            margin-left: 40px;
            margin-right: 40px;
        }

        h3{
            font-size: 4vw;
        }  

            p{
                font-size: 2vw;
                margin: inherit;
            }
            span{
                font-size: 3vw;
            }
    }
 

    footer{
        @include flexMid;
        height:100px;

        div{
            display: block;
        }
    }

}
