body {
	margin: auto;
}


/*---Header---*/

header {
	background-color: #579c87;
	
	font-family: sans-serif;
	text-align: center;
	font-size: larger;
	color:#fdcb46;

	padding-top: 1em;
	padding-bottom: 1em;
}

header > a {
	text-decoration: none;
	color: #fdcb46;
}


/*---MAIN---*/

.main__accueil {
	display: flex;
	justify-content: center;
}

	.main__accueil > div { 
		margin-top: 3em;
	}

		a {
			text-decoration: none;
			color: #3c1218;	
		}

/*---corps de page---*/

.bloc-menu {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 0px 10px #e0d4d4;

	margin: 35px;
 	width: 430px;
 	height: 600px;   

 	font-size: larger;
 	font-weight: normal;
}

.bloc-menu h2{
	font-size: 2.5rem;
}

.bloc-menu--anim {

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	opacity: 1;

	transition: transform 700ms ease-in-out;
	transform: scale(1);
}
	.bloc-menu--anim:hover {
		transform: scale(1.15);
		opacity: 0.7;
	}


/*---MENU 1-- La note enchantée --*/

.bloc-menu__1 {
	background-color: #fcdfdb;
	font-family: cursive;
}

	.bloc-menu__1 > div > h3 {
		font-family:'Devonshire', cursive;
		font-weight: normal;
		font-size: 2em;

	}

	i {
		font-size: 2em;
		margin-top: -40px;
		color: tomato;
	}

/*---MENU 2-- Le délice des papilles --*/

.bloc-menu__2 {
	font-family: 'Kalam', cursive;
	background-color: #f9f9f9;	
	color: #0431df;

}

	.bloc-menu__2 > div > h3 {
		font-family: 'Dancing Script', cursive;
		font-size: 2em;

		background-image: linear-gradient(to right, #0431df, #3d9ffa);
	    -webkit-background-clip: text;
	    background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
	

/*---MENU 3-- Le chic à la française --*/

.bloc-menu__3 {
	background-color: #fff5fe;
	font-family: serif , cursive;
	color: #c67412;
}

	.bloc-menu__3 > div > h3 {
		font-size: 2em;

		background-image: linear-gradient(to right, #df871e, #935df3);
	    -webkit-background-clip: text;
	   	background-clip: text;
	    -webkit-text-fill-color: transparent;
	}

/*---MENU 4-- La palette du goût --*/

.bloc-menu__4 {
	background-color: #fdfffd;
	font-family: 'Kalam', cursive;
	color: #3d9339;
}

	.bloc-menu__4 > div > h3{
		font-family: 'Kaushan Script', cursive;
		font-size: 2em;

		background-image: linear-gradient(to right, #3d9339, #bfff7e);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}

/*--- SECTION PAGE D'ACCUEIL ---*/

.section > div {
	background-color: #579c87;

	width: 250px;
	height: 45px;
	margin: auto;
	border-radius: 10px;

	margin-bottom: 150px;
}

	.section {
		font-family: 'inter', sans-serif;
		text-align: center;
		color: #fdcb46;
		padding-top: 10px;
	}
.prochainement{
	padding-top: 6px;
}
.prochainement:after {
	position: absolute;
	overflow: hidden;
	 display: inline-block;

 	 -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
 	 animation: ellipsis steps(4,end) 900ms infinite;
 	 content: "\2026";
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/*---footer---*/

footer {
	font-family: 'inter', sans-serif;
	color: #fdcb46;
	background-color: #579c87;
	 
	position: fixed;
	left: 0; right: 0; bottom: 0px;
	height: 80px;
}

	footer > div {
		display: flex;
		justify-content: space-around;
	}

		footer > div > a{
			color: #fdcb46;
			text-decoration: none;
		}



/*-----les 4 pages des menus-----*/


.main{
	margin-bottom: 120px;
}

.main h2{
	font-family: ;
	text-align: center;
}

.bloc{
	align-content: center;
	font-size: larger;

	box-shadow: 0px 0px 10px #e0d4d4;
	width: 900px;
	

	margin: auto;
	padding-bottom: 10px;	
}

	.bloc > article{
	margin-left: 80px;
	margin-right: 80px;
	}

	.bloc h3{
		text-align: center;
		display: flex;
		justify-content: space-between;
	}

/*--- PAGE MENU 1-- La note enchantée --*/

.bloc.bloc__page1{
	background-color: #fcdfdb;
    font-family: 'Segoe Print', cursive;
}

.bloc.bloc__page1 h2{
	font-family:'Devonshire', cursive;
}
.bloc__page1--h3{
	text-align: center;
	
}

.bloc__page1--h3:before, .bloc__page1--h3:after{
	content:"";
   display:inline-block;
   width:200px;
   height:15px;
   background:url("icon/ligne-menu-1.png") no-repeat;
   background-size:100%;
   align-self: center;
}

.bloc__page1--h3:hover{
	text-decoration: underline;
}

.bloc__page1--icon{
	display: flex;
	justify-content: center;
}
.bloc__page1--icon > i{
	margin-top: 20px;
	margin-right: 10px;
}

 p > span {
 	display: flex;
 	flex-direction: row-reverse;
 	margin-top: -20px;
 }
section i {
		margin-left: 50%;
		font-size: 2em;
		color: tomato;

		margin-top: 50px;
	}


/*---PAGE MENU 2-- Le délice des papilles --*/

.bloc.bloc__page2{
	background-color: #edefef;
	padding-top: 30px;
	font-family: 'Segoe Print', cursive;
}

.bloc.bloc__page2 h2{
	font-family: 'Dancing Script', cursive;
	font-size: 2.5em;
	color: #3d1319;	
	background-image: linear-gradient(to right, #0431df, #3d9ffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bloc__page2--h3:before, .bloc__page2--h3:after{
	content:"";
   display:inline-block;
   width:200px;
   height:15px;
   background:url("icon/ligne-menu-2.png") no-repeat;
   background-size:100%;
   align-self: center;

}
.bloc__page2--h3:after{
	transform: scaleX(-1);
}

/*---PAGE MENU 3-- Le chic à la française --*/

.bloc.bloc__page3{
	background-color: #fff5fe;
	padding-top: 30px;
	font-family: 'bree serif', serif;
}
.bloc.bloc__page3 h2{
	background-image: linear-gradient(to right, #df871e, #935df3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One', cursive;
    margin-top: 50px;
    margin-bottom: 70px;
}

.bloc__page3--entrée{
	color: #c67412;	

}
	.bloc__page3--entrée--h3:before, .bloc__page3--entrée--h3:after{
		content:"";
	   display:inline-block;
	   width:200px;
	   height:15px;
	   background:url("icon/ligne-menu-3-1.png") no-repeat;
	   background-size:100%;
	   align-self: center;
	}

	.bloc__page3--entrée--h3:after{
		transform: scaleX(-1);
	}

	.bloc__page3--plat--h3:before, .bloc__page3--plat--h3:after{
		content:"";
	   display:inline-block;
	   width:200px;
	   height:15px;
	   background:url("icon/ligne-menu-3-2.png") no-repeat;
	   background-size:100%;
	   align-self: center;
	}

	.bloc__page3--plat--h3:after{
		transform: scaleX(-1);
	}
	.bloc__page3--dessert--h3:before, .bloc__page3--dessert--h3:after{
		content:"";
	   display:inline-block;
	   width:200px;
	   height:15px;
	   background:url("icon/ligne-menu-3-3.png") no-repeat;
	   background-size:100%;
	   align-self: center;
	}

	.bloc__page3--dessert--h3:after{
		transform: scaleX(-1);
	}

	.bloc__page4--h3:before, .bloc__page4--h3:after{
		content:"";
	   display:inline-block;
	   width:250px;
	   height:15px;
	   background:url("icon/ligne-menu-4.png") no-repeat;
	   background-size:100%;
	   align-self: center;
	}

	.bloc__page4--h3:after{
		transform: scaleX(-1);
	}
	

.bloc__page3--plat{
	color: #a56799;
	margin-top: 70px;
}
.bloc__page3--dessert{
	color: #6e4ccc;
	margin-top: 70px;
}

/*---PAGE MENU 4-- La palette du goût --*/

.bloc.bloc__page4{
	background-color: #fdfffd;
	padding-top: 30px;
	font-family: 'Segoe Print', serif;
}

.bloc.bloc__page4 h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 2.5em;
	background-image: linear-gradient(to right, #3d9339, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--- Mentions légales ---*/
.mentions-légales{
	width: 60%;
	margin: auto;
	text-align: justify;
	font-size: larger;
}

/*---Footer---*/





/*---RESPONSIVE DESIGN---*/

@media all and (max-width: 992px)
{
	body{
		width: auto;
	}
	header{
		width: auto;
	}
	main{	
		width: auto;
	}
	.main__accueil{
		display: grid;
	}
}
