 /*--- Mentions légales ---*/
 .mentions-legales{
	width: 60%;
	margin: auto;
	text-align: justify;
    font-size: larger;
    margin-bottom: 130px;

    h2{
        font-size: 2rem;
    }
    
    span{
        font-style: italic;
        color: red;
    }
}
