$color-fond: #579c87;
$color-text: #fdcb46; 
$color-bk-menu1: #fcdfdb;
$color-bk-menu2: #f9f9f9;
$color-txt-menu2: #0431df;
$color-bk-menu3: #fff5fe;
$color-txt-menu3: #c67412;
$color-txt-menu3-plat: #a56799;
$color-txt-menu3-dessert: #6e4ccc;
$color-bk-menu4: #fdfffd;
$color-txt-menu4: #3d9339;